<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chenyanwu.erp.erpframework.dao.rbac.ErpRoleUserMapper">
    <resultMap id="BaseResultMap" type="com.chenyanwu.erp.erpframework.entity.rbac.ErpRoleUser">
                                                
                                                <result column="role_id" property="roleId" jdbcType="CHAR"/>
                                                            <result column="user_id" property="userId" jdbcType="CHAR"/>
                    
    </resultMap>
</mapper>