<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chenyanwu.erp.erpframework.dao.rbac.ErpUserMapper">
    <resultMap id="BaseResultMap" type="com.chenyanwu.erp.erpframework.entity.rbac.ErpUser">
                                                                                                                                                                                                                                                                            
                                                <result column="salt" property="salt" jdbcType="VARCHAR"/>
                                                            <result column="enabled" property="enabled" jdbcType="BIT"/>
                                                            <result column="update_date" property="updateDate" jdbcType="DATE"/>
                                                            <result column="create_by" property="createBy" jdbcType="VARCHAR"/>
                                                            <result column="password" property="password" jdbcType="VARCHAR"/>
                                                            <result column="login_name" property="loginName" jdbcType="VARCHAR"/>
                                                            <result column="phone" property="phone" jdbcType="VARCHAR"/>
                                                            <result column="name" property="name" jdbcType="VARCHAR"/>
                                                            <result column="id" property="id" jdbcType="CHAR"/>
                                                            <result column="locked" property="locked" jdbcType="BIT"/>
                                                            <result column="create_date" property="createDate" jdbcType="DATE"/>
                                                            <result column="update_by" property="updateBy" jdbcType="VARCHAR"/>
                                                            <result column="email" property="email" jdbcType="VARCHAR"/>
                    
    </resultMap>


    <resultMap id="ResultMap" type="com.chenyanwu.erp.erpframework.entity.rbac.ErpUser" extends="BaseResultMap" >
        <collection property="roles" ofType="com.chenyanwu.erp.erpframework.entity.rbac.ErpRole">
            <result property="id" column="r.id"></result>
            <result property="name" column="r.name"></result>
        </collection>
        <collection property="menus" ofType="com.chenyanwu.erp.erpframework.entity.rbac.ErpMenu">
            <result property="id" column="m.id"/>
            <result property="name" column="m.name"/>
            <result property="permission" column="permission"/>
        </collection>
    </resultMap>

    <select id="findUserByLoginName" parameterType="String" resultMap="ResultMap">
        select u.id,u.login_name,u.name,u.password,u.salt,u.locked,u.enabled,r.id AS 'r.id',r.name AS 'r.name',m.id AS 'm.id',m.name As 'r.name',permission,phone
        from erp_user u
        left join erp_role_user ru on ru.user_id=u.id
        left join erp_role r on ru.role_id=r.id
        left join erp_role_menu rm on rm.role_id=r.id
        left join erp_menu m on m.id=rm.menu_id
        <where>
            <if test="loginName !=null and loginName !=''">
                u.login_name = #{loginName}
            </if>
        </where>
    </select>


</mapper>