package ${controllerPackage};

import com.chenyanwu.erp.erpweb.common.PageResultBean;
import com.chenyanwu.erp.erpweb.common.ResultBean;
import com.chenyanwu.erp.erpweb.exception.ExceptionEnum;
import com.github.pagehelper.Page;
import com.github.pagehelper.PageHelper;
import org.slf4j.Logger;
import org.slf4j.LoggerFactory;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Controller;
import org.springframework.validation.annotation.Validated;
import org.springframework.web.bind.annotation.*;
import org.springframework.web.servlet.ModelAndView;
import ${servicePackage}.${beanName}Service;
import ${entityPackage}.${beanName};

import java.util.List;

/**
* <p>
    * </p>
*
* @author ${author}
* @date ${dateTime}
* @version
*/
@Controller

#if ( ${modulePrefix}== true )
@RequestMapping(value = "/${module}/${lowerBeanName}")
#else
@RequestMapping(value = "/${lowerBeanName}")
#end
public class ${beanName}Controller {

Logger logger = LoggerFactory.getLogger(this.getClass());
@Autowired
private ${beanName}Service service;

#*  @Autowired
  private DictionaryTypeService dictionaryTypeService;*#

@RequestMapping(value = "/get",method = RequestMethod.GET)
@ResponseBody
public ResultBean<${beanName}> get(String id){
${beanName} item= (${beanName}) service.selectByPrimaryKey(id);
if(item!=null){
return new ResultBean<>(item);
}
else {
return new ResultBean<>(ExceptionEnum.RESOURCE_NOT_FOUND,null,"找不到该记录",null);
}
}


@RequestMapping(value = "/getlist",method = RequestMethod.GET)
@ResponseBody
public PageResultBean<List<${beanName}>> getList(int page,int limit){
List<${beanName}> list;
PageHelper.startPage(page, limit);
list = service.selectAll();
return new PageResultBean(list,page,limit, ((Page) list).getTotal());

}

@RequestMapping(value = "/create",method = RequestMethod.POST)
@ResponseBody
public ResultBean<String> create(@RequestBody @Validated ${beanName} item){
    service.insertSelective(item);
    return new ResultBean<String>("");
}

@RequestMapping(value = "/update",method = RequestMethod.POST)
@ResponseBody
public ResultBean<String> update(@RequestBody @Validated ${beanName} item){
            service.updateByPrimaryKey(item);
    return new ResultBean<String>("");
}

@RequestMapping(value = "/deleteByID",method = RequestMethod.POST)
@ResponseBody
public ResultBean<Integer> delete(String id){
    int result= service.deleteByPrimaryKey(id);
    return new ResultBean<Integer>(result);
}

@RequestMapping(value = "/delete",method = RequestMethod.POST)
@ResponseBody
public ResultBean<Integer> delete( @RequestBody ${beanName} item){
    int result= service.delete(item);
    return new ResultBean<Integer>(result);
}

@GetMapping("index")
public ModelAndView index(){
return new ModelAndView( );
}

@GetMapping("add")
public ModelAndView add(){
return new ModelAndView();
}

@GetMapping("edit")
public ModelAndView edit(String id){
ModelAndView modelAndView = new ModelAndView();
${beanName} item=(${beanName})service.selectByPrimaryKey(id);
modelAndView.addObject("entity",item );
return modelAndView;
}


}